/* sidbar*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
/* body backg color*/
body{
   background-color:#E9967A;
}
/*sidebar */
.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #cc66ff;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}
 
.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .sidebar .social_media a{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* faza main content*/
.wrapper #main_content{
  width: 100%;
    margin-left: 24px;
}

.wrapper #main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper #main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper #main_content .info div{
  margin-bottom: 20px;
}
   /* main content*/
  .container {
    position: relative;
    margin-left: 13%;
    width: 87%;


  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #914678;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
  }
  
  .text {
    text-align: center;
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

/*about me section*/
#about_me{
  display: flex;
  margin-top: 42px;
}
.about_text{
  margin-left: 36%;
  margin-right: 9%;
  margin-top: 5%;
}
p{color: tomato;}

.about_img{
  margin-top: 14px;

}
/* resume section*/
.formation{margin-left: 36%;
  margin-top: 6%;}

.hobbies_text{    margin-left: 36%;
  margin-top: 2%;
}
.hobbies_img{
  display: flex;
  margin-left: 63%;
  
  margin-top: -8%;
}

.languistic_competence{
  margin-top: 2%;
  margin-left: 36%;
}


/* links contact */
.facbook_link {
  background-color: blue;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

.facbook_link:hover {
  background-color: #555;
  cursor: pointer;
}

.facbook_link:active {
  background-color: black;
}

.facbook_link:visited {
  background-color: #ccc;
}

#contact{
  margin-top: 10%;
  margin-bottom: 10%;
  color: #914678;
    margin-left: 36%;
}

.facebook_button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: black;
  background-color: rgb(115, 115, 226);
  font-size: 24px;
  padding: 10px 24px;
  border-radius: 12px;
  border: 2px solid black; /* black */
  cursor:  pointer;
}
.facebook_button:hover {
  background-color: white;
  color: black;}


.instagram_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  
    text-decoration: none;
    color: black;
    background-color: rgb(245, 79, 79);
    font-size: 24px;
    padding: 10px 24px;
    border-radius: 12px;
    border: 2px solid black; /* black */
    cursor:  pointer;
  }
.instagram_button:hover {
    background-color: white;
    color: black;}
 
    /* tel*/
.phone_number{
  color: black;
  margin-top: -7%;
  margin-left: 41%;
}
/* footer*/
.video_final{
  margin-top: 10%;
}

#footer{
  margin-left: 36%;
}

.written{
  margin-top: 2%;
}

